.main-avis-section {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
}

.div-avis {
  width: 100%;
  height: auto;
  max-width: 1200px;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  background-color: #141824;
  background-image: url("https://assets-global.website-files.com/6561683d7688a3e476387de2/6565e9010d28dc50fb74cbe8_Group%2011.svg");
  background-position: 100% 0;
  background-repeat: no-repeat;
  background-size: auto;
  border: 2px #0c6cfb;
  border-radius: 24px;
  padding: 40px;
  display: flex;
}

.div-cs {
  width: 605px;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}
.stars-siv {
  width: auto;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}
